// app global css in SCSS form

@font-face {
  font-family: handwritten;
  src: url(./fonts/LetraDeMamaRegular-jE8Ay.woff);
}

// declare a class which applies it
.handwritten {
  font-family: 'handwritten', serif;
  font-size: 50px;
}

.bg-image {
  background-image: url(assets/img/finale_landscape.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.limit-width-mobile {
  max-width: 250px;
}

.limit-width-desktop {
  max-width: 500px;
}
